$body: hsl(250, 28%, 12%);
$title: hsl(250, 8%, 95%);
$text: hsl(250, 8%, 75%);
$color: hsl(250, 69%, 61%);
$color2: hsl(250, 30%, 8%);
$scroll: hsl(250, 12%, 48%);
$scroll-thumb: hsl(250, 12%, 36%);
$scroll-hover: hsl(250, 8%, 65%);
$link: hsl(250, 8%, 95%);
$link-hover: hsl(250, 69%, 61%);
$footer-hover: hsl(250, 92%, 85%);
$button-hover: hsl(250, 57%, 53%);